@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: url(mountains.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 100%;
    padding: 20px 70px;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.header .logo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.header span {
    color: orange;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 28px;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    font-weight: 500;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
    background: #fff;
}

.navbar .login-btn {
    border-radius: 4px;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    background: transparent;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1rem;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    transition: 0.3s ease;
    cursor: pointer;
}

.navbar .login-btn:hover {
    color: black;
    background: #fff;
}

.wrapper {
    display: flex;
    position: relative;
    width: 400px;
    height: 440px;
    border-radius: 14px;
    background: transparent;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
}

.wrapper .login-form {
    width: 100%;
    padding: 40px;
}

.wrapper .login-form h1 {
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #161414;
    margin: 30px 0;
}

.input-box label {
    color: #bfaaaa;
    font-size: 1em;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0px;
    font-weight: 500;
    pointer-events: none;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    padding: 0 35px 0 0;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    transition: 0.3s ease;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 20px;
    color: #bfaaaa;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #161414;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #161414;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: #2e2a2a;
}

.login-register {
    font-size: .9em;
    color: #161414;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register .register {
    color: #161414;
    text-decoration: none;
    font-weight: 600;
}

.login-register .register:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        z-index: 10;
        height: 100vh; 
        border-radius: 10px;
        background-color: rgba(22, 20, 20, 0.8);
        backdrop-filter: blur(10px);
        padding: 10px; 
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        overflow-y: auto;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .navbar a {
        margin-top: 50px;
        font-size: 14px;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 10px 10px;
        justify-content: flex-start;
        margin-bottom: 10px; 
        display: flex; 
        align-items: center; 
    }

    .navbar .login-btn {
        display: none;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 5px;
        right: 35px;
        z-index: 20;
    }

    .header {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .wrapper {
        width: 320px;
        height: auto;
        padding: 20px;
        margin: 10px;
    }

    .wrapper .login-form {
        padding: 20px;
    }

    .wrapper .login-form h1 {
        font-size: 1.2rem;
    }

    .input-box {
        margin: 20px 0;
    }

    .input-box label,
    .input-box input {
        font-size: 0.9em;
    }

    .input-box .icon {
        font-size: 18px;
    }

    .remember-forgot {
        font-size: 0.8em;
        margin: -10px 0 10px;
    }

    .login-register {
        font-size: 0.8em;
        margin: 20px 0 5px;
    }

    #about .container {
        width: 415px;
        height: auto;
        font-size: 14px;
    }

    #services .services-container  {
        margin-top: 40vh;
        width: 415px;
        height: auto;
        font-size: 14px;
    }

    .contact-form {
        border-radius: px;
    }
}

#about {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 1000px;
    height: auto;
    background-color: rgba(22, 20, 20, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    backdrop-filter: blur(60px);
    color: #fff;
}

#about .container {
    padding: 30px 40px;
    text-align: justify;
}

#about .container h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

#about .container span {
    color: orange;
}

#about .container p {
    font-size: 15px;
}

/* ..... */


#services {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 1000px;
    height: auto;
    margin-top: 50px;
    background-color: rgba(22, 20, 20, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    backdrop-filter: blur(60px);
    color: #fff;
}

#services .services-container {
    padding: 30px 40px;
    text-align: justify;
}

#services .services-container h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

#services .services-container span {
    color: orange;
}

#services .services-container p {
    font-size: 15px;
}


.contact-form {
    margin-top: 90px;
    background-color: rgba(22, 20, 20, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    padding: 20px 5%;
}

.contact-form h2 {
    font-weight: 500;
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.contact-form form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-form form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-form form .input-box input {
    color: black;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.contact-form form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    resize: none;
    margin-bottom: 20px;
}

.contact-form form input[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(22, 20, 20, 0.8);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.contact-form form input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
